[submodule "backend"]
	path = backend
	url = https://github.com/2022-Winter-Bootcamp-Team-K/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/2022-Winter-Bootcamp-Team-K/frontend.git
[submodule "elk"]
	path = elk
	url = https://github.com/0BVer/logging-example.git
